{% if site.style == 'dark' %} {% assign icon_color = "#ffffff" %} {% else %} {%
assign icon_color = "#24292e" %} {% endif %} {% assign content = page.content %}
{% assign posts_total = site.posts | size %} {% assign user = site.github.owner
%} {% if page.path contains '_posts' %} {% assign meta_description =
page.content | strip_html | strip_newlines | xml_escape | truncate: 300 %} {%
else %} {% assign meta_description = user.bio | strip_html | strip_newlines |
xml_escape | truncate: 300 %} {% endif %}

<!DOCTYPE html>
<html class="height-full-disabled">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="{{ meta_description }}" />
    <title>{{ user.name }}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link href="{{
      "/assets/styles.css" | relative_url
    }}" rel="stylesheet" type="text/css">

    <!-- Hotjar Tracking Code for https://fabiosjc.github.io/ -->
    <script>
      (function(h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function() {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 1397726, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>
  <body class="bg-white height-full" {% if site.style == 'dark'
  %}style="background-color: #2f363d !important"{% endif %}>
</html>
